/* inizio variabili */
:root {
  --main-color: #10cab7;
  --secondery-color: #2c4755;
}
/* fine variabili */
* {
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  overflow-x: hidden;
}
/* inizio header */

.header {
  padding: 20px;
}
.header .container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo1 {
  width: 60px;
}
span {
  margin-bottom: 5px;
}
.icon {
  padding: 5px;
  width: 35px;
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.icon:hover span:nth-child(2) {
  width: 100%;
}
.links .icon:hover + ul {
  display: block;
  z-index: 1;
}
.links ul:hover {
  display: block;
  z-index: 1;
}
.icon span:nth-child(1) {
  height: 3px;
  width: 100%;
  background-color: black;
}
.icon span:nth-child(2) {
  height: 3px;
  width: 60%;
  background-color: black;
  transition: all ease 0.4s;
}

.icon span:nth-child(3) {
  height: 3px;
  width: 100%;
  background-color: rgb(0, 0, 0);
}
.links ul {
  list-style-type: none;
  background-color: #f6f6f6;
  padding: 0;
  min-width: 200px;
  position: relative;
  display: none;
}

.links ul li {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}
.links ul li a {
  text-decoration: none;
  transition: all 0.3s ease;
  color: #333;
}
.links ul li a:hover {
  padding-left: 20px;
}
.links ul li:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.links ul::before {
  content: "";
  border-width: 15px;
  border-color: transparent transparent #f6f6f6 transparent;
  border-style: solid;
  position: absolute;
  right: 5px;
  top: -25px;
}
/* fine header */
/* inizio landing */
.landing {
  background-image: url(../immagini/montain.webp);
  background-size: cover;
  height: calc(100vh - 94px);
  position: relative;
  width: 100%;
}
.landing .intro-test {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 320px;
  max-width: 100%;
}
.landing .intro-test h1 {
  margin: 0px;
  font-weight: bold;
  color: var(--main-color);
  font-size: 80px;
  text-align: center;
}
.landing .intro-test p {
  font-size: 19px;
  line-height: 40px;
  font-weight: bold;
}

/* fine landing */
/*inizio feautures*/
.feautures {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.feautures .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  gap: 40px;
}
.feautures .container .feat {
  padding: 20px;
  text-align: center;
}
.feautures .container .feat i {
  color: var(--main-color);
  font-size: 40px;
}
.feautures .container .feat h3 {
  font-weight: 800;
  margin: 30px 0px;
}
.feautures .container .feat p {
  line-height: 1.5;
  color: #777;
  font-size: 17px;
}

.services {
  padding-top: 150px;
  padding-bottom: 60px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;

  position: relative;
}
.contenitoreSpecialHeading {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  line-height: 0.3;
}
.contenitoreSpecialHeading h2 {
  font-size: 100px;
  color: #ebeced;
  letter-spacing: -7px;
  margin: 0;
}

.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(180px, 180px));
  gap: 40px;
}
.services .container .servizio {
  padding-left: 20px;
  padding-right: 20px;
}
.services .container .servizio i {
  display: inline;
  margin-right: 40px;
  font-size: 30px;
  color: var(--main-color);
}

.services .container .servizio h3 {
  font-weight: 800;
  margin-bottom: 40px;
  display: inline;
  text-align: center;
}
.services .container .servizio p {
  line-height: 1.5;
  color: #777;
  font-size: 17px;
}

.rettangoli {
  z-index: 0;
}
.rettangolo {
  width: 350px;
  height: 350px;
  background-color: #777;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  box-shadow: 1px 1px 20px 1px rgb(43, 43, 43);
}

.rettangolo .rettangoloMinore {
  height: 450px;
  width: 100px;
  background-color: var(--secondery-color);
  position: absolute;
  right: -20px;
  z-index: -1;
}

/*fine feautures*/
@media (min-width: 0px) and (max-width: 415px) {
  .header {
    min-width: 300px;
    padding: 0;
    margin: 0;
  }
  .landing {
    height: calc(100vh - 54px);
  }
  .links ul {
    position: absolute;
    right: 35px;
    z-index: 1;
  }
  .landing .intro-test h1 {
    font-size: 40px;
  }
  .landing .intro-test p {
    text-align: center;
  }
  .rettangoli {
    display: none;
  }

  .feautures .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .contenitoreSpecialHeading h2 {
    font-size: 70px;
  }
}

@media (min-width: 416px) and (max-width: 769px) {
  .container {
    min-width: 400px;
    padding: 10px;
  }
  .links ul {
    position: absolute;
    right: 17px;
  }
  .landing {
    height: calc(100vh - 74px);
    width: 100%;
  }
  .feautures .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    gap: 40px;
  }
  .rettangoli {
    display: none;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  .links ul {
    position: absolute;
    right: 45px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
  .links ul {
    position: absolute;
    right: 193px;
  }
}
